.popup-card {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #f6f6f6;
}
.close-btn {
  align-self: flex-end;
  border: none;
  background: transparent;
  color: darkred;
  font-weight: bold;
  font-size: 35px;
}
@media (max-width: 768px) {
  .close-btn {
    font-size: 24px;
  }
}
.confirm-order-btn {
  align-items: flex-end;
}
.order-confirmed-msg {
  color: rgb(34, 194, 16);
  font-size: 24px;
  font-weight: bold;
}
.order-confirm-container {
  display: grid;

  place-items: center;
  height: 80vh;
}
.order-product-img {
  width: 100%;
  height: 300px;
}
.total-amount {
  align-self: flex-end;
  color: rgba(0, 128, 0, 0.685);
  font-weight: bold;
}
.total-item {
  align-self: flex-end;
  color: rgba(0, 128, 0, 0.75);
  font-weight: bold;
}
.disabled-style {
  color: #f6f6f6;
  background-color: gray;
}
